:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --basic-dark: #333333;
  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --basic-grey: #666666;
  --form-dark-grey: #A9A9A9;
  --background-light-grey: #F2F2F2;
  --background-hover-grey: #EBEBEB;
  --background-grey: #EEEEEE;
  --background-filter: #4C77A1;
  --background-map: #C8DDA9;
  --line-grey: #E5E5E5;
  --range-grey: #ABABAB;
  --range-grey-transparent: rgba(171, 171, 171, 0.3);
  --triangle-grey: #CACACA;
  --checkbox-grey: #6A6A6A;
  --logo-grey: #BDBBBC;
  --shadow-page: rgba(0, 1, 1, 0.2);
  --shadow-popup: rgba(0, 1, 1, 0.15);
  --white-09: rgba(255, 255, 255, 0.9);
  --white-03: rgba(255, 255, 255, 0.3);
  --black-03: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/pt-sans-v11-latin-cyrillic-regular.woff2") format("woff2"),
       url("../fonts/pt-sans-v11-latin-cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url("../fonts/pt-sans-v11-latin-cyrillic-700.woff2") format("woff2"),
       url("../fonts/pt-sans-v11-latin-cyrillic-700.woff") format("woff");
}
@-moz-document url-prefix() {
  .main-menu,
  .reasons__title {
    line-height: 183%;
  }
  .promo__title,
  .search-hotel__button,
  .search__button {
    line-height: 122%;
  }
  .reason__content,
  .advise__content,
  .offer {
    line-height: 149%;
  }
}

html {
  height: 100%;
}
.page-body {
  min-width: 1200px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--background-light-grey);
}
.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--shadow-page);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: var(--basic-black);
}

/* Шапка */

.main-nav {
  position: relative;
  margin: 0;
  padding: 14px 72px 16px;
}
.main-nav__logo {
  position: absolute;
  top: 0;
  left: 531px;
  z-index: 3;
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 147px 1fr 1fr;
  font-weight: bold;
  line-height: 26px;
}
.main-menu__item {
  margin: 0;
  padding: 0;
}
.main-menu__item:not(.active) a:hover,
.main-menu__item:not(.active) a:focus {
  color: var(--basic-blue);
}
.main-menu__item:not(.active) a:active {
  color: var(--black-03);
}
.main-menu__item.active a {
  color: var(--basic-brown);
}
.main-menu__item:nth-child(4n + 3) {
  grid-column-start: 4;
  text-align: right;
}
.main-menu__item:nth-child(4n) {
  text-align: right;
}

/* Промо-блок */

.promo {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}
.promo__title {
  max-width: 900px;
  margin: 42px auto 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.promo__picture-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 509px;
  background-color: var(--form-dark-grey);
}
.promo__picture-wrapper::before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 433px;
  top: 76px;
  background-image: url("../img/welcome.svg");
}
.promo img {
  width: 1200px;
  height: 509px;
}

/* Причины */

.reasons__title {
  max-width: 900px;
  margin: 0 auto 50px;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
}
.reasons__list,
.advises__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.reasons__list {
  counter-reset: num;
  display: flex;
  flex-wrap: wrap;
}
.reasons__list img {
  display: block;
  height: 100%;
}
.reason {
  flex-grow: 1;
  width: 33%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 54px;
  background-color: var(--background-grey);
}
.reason-illustrated {
  width: 100%;
  display: flex;
}
.reason-illustrated .reason {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.reason-illustrated.picture-left {
  flex-direction: row-reverse;
}
.reason__title,
.advise__title {
  margin: 0;
  max-width: 152px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}
.reason__content,
.advise__content {
  max-width: 305px;
  margin: 0;
}
.reason__content::before {
  display: block;
  counter-increment: num;
  content: "— №" counter(num) " —";
  margin-top: 26px;
  margin-bottom: 25px;
}

/* Советы */

.advises {
  flex-grow: 1;
}
.advises__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.advise {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 33%;
  padding-top: 55px;
  padding-bottom: 83px;
}
.advise::before {
  content: "";
  width: 75px;
  height: 77px;
  background-position: bottom;
  background-repeat: no-repeat;
}
.advise.house::before {
  background-image: url("../img/house.svg");
  background-size: 75px 72px;
}
.advise.burger::before {
  background-image: url("../img/burger.svg");
  background-size: 75px 70px;
}
.advise.box::before {
  background-image: url("../img/souvenir.svg");
  background-size: 64px 77px;
  background-position: center;
}
.advises .advise__title {
  margin-top: 28px;
  margin-bottom: 25px;
}
.advises .advise__content {
  max-width: 300px;
}

/* Поиск гостинаицы */

.search-hotel {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--basic-white);
}
.interest {
  max-width: 900px;
  margin: 55px auto 29px;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.offer {
  max-width: 900px;
  margin: 0;
  margin-bottom: 45px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-dark);
}
.search-hotel__button {
  width: 568px;
  padding: 30px 35px 30px;
  background-color: var(--basic-brown);
}
.search-hotel__button:hover,
.search-hotel__button:focus,
.results__item .booking:hover,
.results__item .booking:focus {
  background-color: var(--hover-brown);
}
.search-hotel__button:active,
.results__item .booking:active {
  background-color: var(--active-brown);
  color: var(--white-03);
}
.search-hotel__button,
.search__button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

/* Форма поиска гостиницы */

.search {
  display: none;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  box-sizing: border-box;
  width: 568px;
  margin: 0 auto;
  padding: 55px;
  top: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 29px;
  align-items: center;
  font-size: 0;
  font-weight: bold;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--shadow-popup);
}
.search-visible {
  display: grid;
}
.search label {
  font-size: 14px;
  margin: 0;
  grid-column: 1 / 2;
}
.search p {
  margin: 0;
  grid-column: 2 / 5;
  position: relative;
}
.search .left-column {
  grid-column: 2 / 3;
}
.search .right-column {
  grid-column: 4 / 5;
}
.search .right {
  grid-column: 3 / 4;
}
input[type="text"],
input[type="number"] {
  font-family: inherit;
}
.search input {
  box-sizing: border-box;
  height: 38px;
  margin: 0;
  padding: 10px 38px 10px 11px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--background-light-grey);
  border: none;
}
.search input:hover {
  background-color: var(--background-hover-grey);
}
.search input:focus,
.search input:active {
  padding: 8px 36px 8px 9px;
  background-color: var(--basic-white);
  border: 2px solid var(--line-grey);
  outline: none;
}
.search input[type="text"] {
  width: 346px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.search input[type="number"] {
  width: 114px;
  padding-left: 38px;
  text-align: center;
}
.search input[type="number"]:focus {
  padding-left: 36px;
}
.search input::-webkit-input-placeholder {
  color: var(--basic-black);
  opacity: 1;
}
.search input::-moz-placeholder {
  color: var(--basic-black);
  opacity: 1;
}
.search input::placeholder {
  color: var(--basic-black);
  opacity: 1;
}
.calender,
.person-number {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  border: none;
  font-size: 26px;
  font-weight: bold;
  color: var(--range-grey);
  background-color: transparent;
  cursor: pointer;
}
.calender,
.person-number.plus {
  right: 0;
}
.person-number {
  padding-bottom: 4px;
}
.person-number:hover,
.person-number:focus {
  color: var(--basic-black);
}
.person-number:active {
  color: var(--basic-blue);
}
.calender:hover path,
.calender:focus path {
  fill: var(--basic-black);
}
.calender:active path {
  fill: var(--basic-blue);
}
label.right {
  padding-left: 50px;
}
.search__button {
  grid-column: 1 / 5;
  padding: 16px;
  margin-top: 26px;
  background-color: var(--basic-blue);
}
.search__button:hover,
.search__button:focus,
.results__item .detail:hover,
.results__item .detail:focus {
  background-color: var(--hover-blue);
}
.search__button:active,
.results__item .detail:active {
  background-color: var(--active-blue);
  color: var(--white-03);
}

/* Анимация формы */

@-webkit-keyframes down {
  0% {
    top: 55%;
    height: 130px;
    box-shadow: none ;
  }
  100% {
    top: 100%;
    height: 395px;
    box-shadow: 0px 7px 15px var(--shadow-popup);
  }
}
@keyframes down {
  0% {
    top: 55%;
    height: 130px;
    box-shadow: none ;
  }
  100% {
    top: 100%;
    height: 395px;
    box-shadow: 0px 7px 15px var(--shadow-popup);
  }
}
.search-appear {
  -webkit-animation-name: down;
          animation-name: down;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
}
@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
    transform-origin: 0% 100%;
    transform: rotate(-2deg);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
    transform-origin: 100% 100%;
    transform: rotate(2deg);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
    transform-origin: 0% 100%;
    transform: rotate(-2deg);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
    transform-origin: 100% 100%;
    transform: rotate(2deg);
  }
}
.submit-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

/* Карта */

.map {
  width: 100%;
  height: 594px;
  margin-bottom: -120px;
  overflow: hidden;
  line-height: 0;
  background-color: var(--background-map);
}
.map__wrapper {
  position: relative;
  top: -100%;
  z-index: 2;
}
.map iframe {
  border: none;
}

/* Подвал */

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 22px 55px 36px 55px;
  background-color: var(--white-09);
}
.main-footer {
  z-index: 4;
}
.contacts {
  flex-basis: 33.3%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.contacts p {
  margin: 0;
  text-align: center;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--basic-blue);
}
.contacts a:active {
  color: var(--black-03);
}
.contacts .hashtag {
  margin-bottom: 9px;
}
.social {
  flex-basis: 33.3%;
  flex-shrink: 0;
}
.social__list {
  list-style: none;
  margin: 0;
  margin-left: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social__item {
  margin: 0;
  margin-right: 6px;
}
.social__button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}
.twitter svg {
  padding: 16px 15px 15px;
}
.fb svg {
  padding: 13px 17px;
}
.youtube svg {
  padding: 16px 13px;
}
.social__button:hover,
.social__button:focus {
  background-color: var(--hover-blue);
}
.social__button:active {
  background-color: var(--active-blue);
}
.social__button:active path {
  fill: var(--white-03);
}
.developer {
  flex-basis: 33.3%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}
.developer span {
  margin-right: 8px;
}
.developer__logo:hover path,
.developer__logo:focus path {
  fill: var(--basic-blue);
}
.developer__logo:active path {
  fill: var(--logo-grey);
}

/* Фильтры */

.filters {
  color: var(--basic-white);
  padding: 26px 73px 27px 72px;
  background-color: var(--background-filter);
  background-image: url("../img/filter-photo.jpg");
  background-position: center;
  background-size: cover;
}
.filters__form {
  display: flex;
}
.filters fieldset {
  flex-basis: 254px;
  margin: 0;
  padding: 0;
  border: none;
}
fieldset.price {
  flex-basis: 317px;
}
.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filters__form fieldset:nth-last-child(2) {
  flex-grow: 1;
}
.filters legend {
  max-width: 140px;
  margin: 0;
  margin-bottom: 27px;
  margin-left: -3px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}
.price legend {
  max-width: 315px;
  margin: 0;
  margin-bottom: 12px;
}
.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filters li {
  margin: 0;
  padding: 0;
}
.filters li + li {
  margin-top: 19px;
}
.filters label:not(.price__label) {
  display: inline-block;
  vertical-align: super;
  max-width: 140px;
  margin: 0;
  padding-left: 40px;
  cursor: pointer;
}
.filters__checkbox {
  vertical-align: top;
  margin-right: -30px;
}

/* Состояния чекбоксов */

.filters__checkbox .on {
  fill: transparent;
}
.filters__checkbox .off {
  fill: var(--basic-white);
}
.filters__input:checked + .filters__checkbox .off {
  fill: transparent;
}
.filters__input:checked + .filters__checkbox .on {
  fill: var(--basic-white);
}
.filters__input:disabled + .filters__checkbox .on {
  fill: transparent;
}
.filters__input:disabled + .filters__checkbox .off {
  fill: var(--checkbox-grey);
}
.filters__input:checked:disabled + .filters__checkbox .off {
  fill: transparent;
}
.filters__input:checked:disabled + .filters__checkbox .on {
  fill: var(--checkbox-grey);
}
.filters__input:focus + .filters__checkbox {
  outline: 1px solid var(--triangle-grey);
}

/* Блок с ценой */

.price input[type="number"] {
  margin: 0;
  padding: 0;
  width: 42px;
  border: none;
  background-color: transparent;
  color: var(--basic-white);
  font-size: 14px;
}
.price label {
  display: inline-block;
  vertical-align: baseline;
}
.price__block {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  width: 317px;
  padding: 6px 0 6px 25px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}
.price__block p {
  margin: 0;
  position: relative;
}
.price__block p:last-of-type::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  left: -80%;
  background-color: var(--basic-white);
}

/* Полозки */

.range {
  position: relative;
  box-sizing: border-box;
  width: 316px;
  height: 24px;
  margin-bottom: 18px;
  padding: 20px 0 16px;
}
.range__scale {
  width: 316px;
  height: 2px;
  background-color: var(--white-03);
}
.range__progress {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}
.range__btn {
  position: absolute;
  top: 12px;
  display: block;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--range-grey);
  box-shadow: 0 2px 0 0 var(--range-grey-transparent);
  cursor: pointer;
}
.range__btn.min {
  left: 0;
}
.range__btn.max {
  left: 252px;
}
.range__btn:hover,
.range__btn:focus,
.range__btn:active {
  top: 11px;
  border-width: 9px;
}
.filters__button:hover,
.filters__button:focus,
.filters__button:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.range__btn.min:hover,
.range__btn.min:focus,
.range__btn.min:active
 {
  left: -1px;
}
.range__btn.max:hover,
.range__btn.max:focus,
.range__btn.max:active {
  left: 251px;
}
.filters__button {
  box-sizing: border-box;
  min-width: 137px;
  max-width: 160px;
  margin-right: 10px;
  padding: 7px 20px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}

/* Сортировка */

.sort {
  padding: 30px 73px 50px 236px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
.sort__title {
  margin: 0;
  margin-right: 40px;
  font: inherit;
}
.sort__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.sort__field a {
  color: var(--black-03);
  border-bottom: 1px dashed var(--basic-blue);
}
.sort__field.current-field a {
  color: var(--basic-blue);
  border: none;
}
.sort__field a:hover,
.sort__field a:focus {
  color: var(--basic-blue);
}
.sort__field a:active {
  color: var(--basic-black);
  border: none;
}
.sort__field {
  margin: 0;
  margin-right: 32px;
}
.sort__list li:nth-last-child(1) {
  margin-left: auto;
  border: none;
}
.sort__icon {
  margin-left: 10px;
}
.sort__direction {
  line-height: 0;
  align-self: flex-end;
}
.current-direction path {
  fill: var(--basic-blue);
}
.sort__icon:hover path,
.sort__icon:focus path {
  fill: var(--basic-black);
}
.sort__icon:active path {
  fill: var(--basic-blue);
}
/* Результаты поиска */

.results {
  padding: 0;
  margin-top: -74px;
}
.results__title {
  max-width: 150px;
  margin: 5px 10px 33px 73px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.results__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.results__item {
  margin: 0;
  padding: 30px 73px;
  display: grid;
  grid-template-columns: 163px min-content min-content 1fr min-content;
  grid-template-areas:
    "pic title title title star"
    "pic type price . ."
    "pic det book . rate";
  border-bottom: 1px solid var(--line-grey);
}
.results__item:nth-child(1) {
  border-top: 1px solid var(--line-grey);
}
.results__item img {
  grid-area: pic;
  display: block;
  width: 135px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: var(--background-map);
}
.results__item h3 {
  margin: 0;
  margin-top: -8px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.results__item .name {
  grid-area: title;
}
.results__item .name:hover,
.results__item .name:focus {
  color: var(--basic-blue);
  outline: none;
}
.results__item .name:active {
  color: var(--black-03);
}
.results__item .stars {
  grid-area: star;
  display: flex;
  justify-content: flex-end;
  margin-right: -2px;
}
.star {
  display: block;
  width: 19px;
  height: 17px;
  margin-top: -1px;
  background-image: url("../img/star.svg");
}
.star + .star {
  margin-left: 5px;
}
.results__item .rating {
  grid-area: rate;
  min-width: 83px;
  margin: 0;
  padding: 3px 12px 3px 15px;
  text-align: right;
  color: var(--basic-grey);
  background-color: var(--background-light-grey);
}
.results__item .type {
  grid-area: type;
  margin: 8px 0 15px;
  color: var(--basic-dark);
}
.results__item .day-price {
  grid-area: price;
  margin: 8px 0 15px;
  color: var(--basic-dark);
}
.results__item .detail,
.results__item .booking {
  display: block;
  margin: 0;
  padding: 3px 16px 1px 17px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
}
.results__item .detail {
  min-width: 77px;
  max-width: 130px;
  margin-right: 6px;
  grid-area: det;
  background-color: var(--basic-blue);
}
.results__item .booking {
  min-width: 109px;
  max-width: 150px;
  grid-area: book;
  background-color: var(--basic-brown);
}
